<!doctype html>
<html>
<head>
<title>Thinkbase</title> </head>
<body>
  {{{body}}}
   <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
   <script type="text/javascript" src="app.js"></script>
</body>
</html>